<% provide(:title, 'Config') %>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <style type="text/css">
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    .node rect {
      cursor: pointer;
      fill: #fff;
      fill-opacity: .5;
      stroke: #3182bd;
      stroke-width: 1.5px;
    }

    .node text {
      font: 10px sans-serif;
      pointer-events: none;
    }

    path.link {
      fill: none;
      stroke: #9ecae1;
      stroke-width: 1.5px;
    }

    .modal-backdrop.fade.in {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
  </style>
</head>

<div class="container">

  <% if user_signed_in? %>

    <h2>Configuration Visualization Demo</h2>
    <a data-toggle="modal" href="#myModalEdit" class="btn btn-info">About</a><br/><br/>
    <!-- Modal -->
    <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Configuration Visualization Demo</h4>
          </div>
          <div class="modal-body">
            This demo shows how you can visualize what your Moving Target Defense network configuration looks like. It is an interactive demo that allows you to expand or collapse different nodes. This will likely be a view on its own instead of on the main dashboard view page.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div id="chart"></div>
    <script type="text/javascript" src="/js/treechart.js"></script>

  <% end %>

</div><!-- /.container -->
