<% provide(:title, 'Home') %>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/css/clippy.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/rt-chart.css">
  <link rel="stylesheet" type="text/css" href="/css/cube-style.css">
  <style type="text/css">
    body {
      padding-top: 50px;
    }

    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .customChartLine {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .legend rectLegend {
      fill:white;
      stroke:black;
      opacity:0.8;
    }
  </style>
</head>

<div class="container-fluid">
  <% if user_signed_in? %>
    <div class="row-fuild">
      <div class="col-md-8">
        <h2>Service Monitoring Charts</h2>
        <div id="graphs"></div>
        <div id="cubeChart"></div><br/>
      </div>
      <div class="col-md-4">
        <h3>Network Table</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Node</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @nodes.each do |node| %>
                <tr>
                  <td><%= node %></td>
                  <% if node == 'Sidekiq worker application' %>
                    <td><span class="label label-warning">Unknown</span></td>
                  <% elsif node == 'Web application load balancer' %>
                    <td><span class="label label-danger">Service Down</span></td>
                  <% else %>
                    <td><span class="label label-success">Running</span></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <h3>Real Time Data Bar Chart</h3>
        <h5>MySQL</h5>
        <div id="barChart"></div>
        <h5>Redis</h5>
        <div id="barChart2"></div>
        <h5>Sidekiq</h5>
        <div id="barChart3"></div>
      </div>
    </div>
  <% end %>

  <div class="row-fluid">
    <br/><br/><button id="easterEgg" style="background-color: Transparent;" type="button" class="btn btn-default" onclick="loadClippy()"></button>
  </div>

</div><!-- /.container -->

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/js/legend.js"></script>
<script src="/js/charts.js"></script>
<script src="/js/rt-bar-chart.js"></script>
<script src="/js/clippy.min.js"></script>
<script src="/js/clippy-start.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/cubism/1.2.2/cubism.v1.min.js"></script>
<script src="/js/cube-chart.js"></script>

<script>
  cubeChart('#barChart', 'customChartBlue');
  cubeChart('#barChart2', 'customChartOrange');
  cubeChart('#barChart3', 'customChartGreen');
</script>
