<% provide(:title, 'Network') %>
<head>
  <link rel="stylesheet" type="text/css" href="/css/forced-network.css" media="all">
  <style type="text/css">
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    .modal-backdrop.fade.in {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
  </style>
</head>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Network Table</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Node</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @nodes.each do |node| %>
            <tr>
              <td><%= node %></td>
              <% if node == 'Sidekiq worker application' %>
                <td><span class="label label-warning">Unknown</span></td>
              <% elsif node == 'Web application load balancer' %>
                <td><span class="label label-danger">Service Down</span></td>
              <% else %>
                <td><span class="label label-success">Running</span></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h1>Network Graph</h1>
      <div id="forceGraph"></div>
    </div>
  </div><br/>

</div>

<script src="http://d3js.org/d3.v2.js?2.9.1"></script>
<script src="/js/forced-graph.js"></script>
