<% provide(:title, 'Manage') %>
<head>
<link rel="stylesheet" href="/css/app.css">
  <style type="text/css">
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    #customli {
        max-width: 50%;
    }

    #editor {
        // position: absolute;
        width: 500px;
        height: 400px;
    }

    .modal-backdrop.fade.in {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }

  </style>
</head>

<div class="container">
  <center><h1>Visual <i>business</i> configuration editor</h1>
  <a data-toggle="modal" href="#myModalVis" class="btn btn-info">About</a><br/><br/></center>
  <!-- Modal -->
  <div class="modal fade" id="myModalVis" tabindex="-1" role="dialog" aria-labelledby="myModalLabelVis" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Visual Editor Config Demo</h4>
        </div>
        <div class="modal-body">
          This demo shows how users can create their system config with vertexes and edges.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="row">
    <div class="col-md-2">
      <div class="btn-group-vertical btn-group-lg">
        <button type="button" class="btn btn-default">Action</button>
        <button type="button" class="btn btn-primary">Action</button>
        <button type="button" class="btn btn-default">Action</button>
        <button type="button" class="btn btn-warning">Execute</button>
      </div>
    </div>
    <div class="col-md10">
      <center><div id="nodeconfig"></div></center>
    </div>
  </div>

  <!-- <div id="forcedDir"></div> -->

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/js/node-config.js"></script>
</div>
