<head>
  <style type="text/css">
    #newEditor {
        width: 500px;
        height: 400px;
    }
  </style>
</head>

<div class="container">
  <h1>Editing configuration</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @configure %> |
  <%= link_to 'Back', configures_path %>
</div>
