<% provide(:title, 'New') %>
<head>
  <style type="text/css">
    body {
      padding-top: 50px;
    }

    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    #newEditor {
        // position: absolute;
        width: 500px;
        height: 400px;
    }
  </style>
</head>


<div class="container">
  <h1>New ANCOR Configuration</h1>

  <%= render 'form' %>

  <%= link_to 'Back', configures_path %>

  <div id="newEditor"></div>
</div>

<script src="/js/ace.js"></script>
<script src="/js/mode-yaml.js"></script>
<script src="/js/ext-searchbox.js"></script>
<script src="/js/configures/ace-editor-setup.js"></script>
