<% provide(:title, 'New') %>
<head>
  <style type="text/css">
    body {
      padding-top: 50px;
    }

    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
  </style>
</head>

<div class="container">
  <h1>New ANCOR Configuration</h1>

  <%= render 'form' %>

  <%= link_to 'Back', configures_path %>
</div>
