.customChart {
  margin-left: 2px;
}

.customLine rect {

}

.customChartBlue rect {
  fill: steelblue;
  stroke: white;
}

.customChartOrange rect {
  fill: orange;
  stroke: white;
}

.customChartGreen rect {
  fill: green;
  stroke: white;
}
