<% provide(:title, 'Settings') %>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <style type="text/css">
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
  </style>
</head>

<div class="container">
  <% if user_signed_in? %>
    <h1>Settings</h1>
  <% end %>
</div>
